*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./gym_pic.jpg');

}
.cont{
    padding: 15px;
    border-radius: 15px;
    height: 100px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: azure;

}